[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "impermanentlosscalc"]
	path = impermanentlosscalc
	url = https://github.com/cran/impermanentlosscalc
